<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <link rel="stylesheet" href="{{ theme_url }}/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/index.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ theme_url }}/js/masonry.pkgd.min.js"></script>
</head>
<body>
    <div class="smallheader">
        <div class="logo">
            <img src="{{ theme_url }}/{{ config.attache_logourl }}" />
        </div>
        <h3 class="name">My Portfolio</h3>
        <ul>
            <li class="active"><span class="anchor">projects</span></li>

            {% for link in config.attache_navlinks %}
            <li><a href="{{ link[1] }}"><span class="anchor">{{ link[0] }}</span></a></li>
            {% endfor %}

            <li><span class="anchor contactshower">contact</span></li>
            {%if config.attache_showlinks %}
                <li><span class="anchor linkshower">links</span></li>
            {% endif %}
        </ul>
    </div>
    <div id="bodyContainer">
    <header id="header">
        <div class="logo">
            <img src="{{ theme_url }}/{{ config.attache_logourl }}" />
        </div>

        <p class="name" class="noselect"><a href="{{ base_url }}">My Portfolio</a><span id="subtitle" class="noselect"><span id="actualtitle"></span><span id="flicker">_</span></span></p>

        <ul id="contact">
            <li><span class="anchor active">projects</span></li>
            {% for link in config.attache_navlinks %}
                <li><a href="{{ link[1] }}"><span class="anchor">{{ link[0] }}</span></a></li>
            {% endfor %}

            <li><span class="anchor contactshower" id="contactlink">contact</span></li>
            {%if config.attache_showlinks %}
                <li><span class="anchor linkshower" id="linklink">links</span></li>
            {% endif %}
        </ul>

    </header>

    <section id="jsplayground" class="notheader" style="display:none;">
        <canvas id="canvas" width="1280" height="400"></canvas>
    </section>

    <section id="photostream" class="notheader" style="display:none;"> 

        <div id="nav">
            <ul id="options">
                <li id="option-all" class="active"><span class="anchor l1">all</span></li>

                {% for category in config.attache_categories %}
                    <li id="option-{{ category }}">
                        <span class="anchor l1">{{ category }}</span>
                    </li>
                {% endfor %}

                <li id="optionSearch">
                    <i id="searchicon" class="fa fa-search fa-flip-horizontal unclicked" aria-hidden="true"></i>
                    <input type="text" class="unclicked" id="search" value="other" autocomplete="off"/>
                    <i id="arrowicon" class="fa fa-arrow-circle-right unclicked" aria-hidden="true"></i>
                    <div id="slidercontainer">
                        <div class="slider" id="upslider">
                            <i id="iconUpp" class="fa fa-angle-double-up" aria-hidden="true"></i>
                            <i id="iconUp" class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                        <div class="slider" id="downslider">
                            <i id="iconDownn" class="fa fa-angle-double-up" aria-hidden="true"></i>
                            <i id="iconDown" class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div id="searchdiv" style="display:none">
                        <ul>
                            
                        </ul>
                    </div>
                </li>

            </ul>
        </div>

        <div class="grid">
            <div class="grid-sizer"></div>
            {% for page in pages|sort_by("time")|reverse %}
            {% if page.id starts with "projects/" %}
                {% if page.id ends with "-content" %}
                    <div class="gridinnercontent toInsert" data-whichparent="{{ page.id }}">
                        {{ page.id|content }}
                    </div>
                {% else %}
                        <div class="grid-item {{ page.meta.tags }}">
                            <div class="gridcontent">
                                <div class="gridinnercontent">
                                    {% if page.meta.image == "none" %}
                                        <span class="insertAnchor" data-isparent="{{ page.id }}"></span>
                                    {% else %}
                                        <img src="{{ base_url }}/assets/img/thumb/{{ page.meta.image }}"></img>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="gridhover">
                                <div class="gridhoverinner">

                                    <a href="{{ page.url }}">
                                        <h3>
                                            {% if page.meta.pointer == "" %}
                                                {{ page.meta.title }}
                                            {% else %}
                                                {{ page.meta.pointer }}
                                            {% endif %}
                                        </h3>
                                    </a>
                                    <p>{{ page.meta.description }}</p>
                                </div>
                            </div>

                        </div>
                {% endif %}
            {% endif %}
            {% endfor %}  
        </div>
    </section>

    <footer id="footer" class="notheader" style="display:none;">
        <div id="columns">
            <div class="column col1">
            <p>{{ config.attache_footer }}</p>
                
            </div>
            <div class="column col2">
                <img src="{{ theme_url }}/{{ config.attache_logourl }}" />
                <p>To hire me, <br><span class="anchor contactshower">contact</span> for details!</p>
            </div>
        </div>

        <div id="copyright">
        <a href="https://github.com/alan-luo/attache/">Attache theme</a> for <a href="http://picocms.org/">Pico</a>. Copyright 2017 <a href="http://alanluo.com">Alan Luo</a>. All Rights Reserved.
        </div>
    </footer>
    </div>

    <div id="sidebarContact" class="sidebar">
        <i class="fa fa-times sidebarhider" aria-hidden="true"></i>
        <h2>Contact</h2>
        <ul>
            {% for link in config.attache_contact %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
        </ul>
        <p>{{ config.attache_contactmessage }}</p>
    </div>

    {%if config.attache_showlinks %}
    <div id="sidebarLinks" class="sidebar">
        <i class="fa fa-times sidebarhider" aria-hidden="true"></i>
        <h2>Links</h2>
        <ul>
            {% for link in config.attache_links %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
        </ul>
        
        <p>{{ config.attache_linkmessage }}</p>
    </div>
    {% endif %}
    <script>
        var subtitles = [];
        {% for subtitle in config.attache_subtitles %}
            subtitles.push('{{ subtitle }}');
        {% endfor %}
    </script>
    <script type="text/javascript" src="{{ theme_url }}/js/theme.js"></script>
     <script type="text/javascript" src="{{ theme_url }}/js/index.js"></script>
     <script>
      //to avoid stretching, I would put in a onresize handler that forces the canvas to be the right size

      // put canvas code in here
      let canvas = document.getElementById("canvas");
      let ctx = canvas.getContext('2d');
      ctx.fillStyle="#222244";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.fillStyle="white";
      ctx.font="20px Georgia";
      ctx.fillText("Hello World! This is a Javascript Playground.",100,100);


    </script>
    
</body>
</html>
